.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	min-width: 100dvw;
	padding: 0 20px;
	background-color: var(--background-color);
}
@media (max-width: 600px) {
	.container {
		justify-content: space-evenly;
		gap: 5rem;
		padding-top: 12.5rem;
	}
}
