.navBar {
	width: 90%;
	height: 85px;
	position: fixed;
	top: 10px;
	right: 5%;
	left: 5%;
	background-color: var(--panel-color);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: var(--text-color);

	.navBarBody {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		gap: 5rem;
		// border: 1px solid var(--border-color);

		.title {
			font-size: 24px;
			color: var(--text-color);
			text-decoration: none;
			white-space: nowrap;
			text-wrap: nowrap;
		}

		.navBarMenu {
			width: 90%;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			padding: 0;
			margin: 0;

			.navItem {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1rem;
				white-space: nowrap;
				cursor: pointer;
				font-size: 18px;

				&::before {
					content: ' ';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 3px;
					transition: width 0.25s ease-in-out;
					background-color: var(--text-color);
				}

				&:hover::before {
					width: 100%;
				}
			}
		}
	}

	.btnSection {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 30%;
		gap: 1rem;
	}
}
