* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

:root {
	--light-background: rgb(242, 242, 247);
	--light-text: rgb(0, 0, 0);
	--light-button: rgb(28, 28, 30);
	--light-panel: rgb(255, 255, 255);
	--light-border: rgba(28, 28, 30, 0.25);

	--dark-background: rgb(0, 0, 0);
	--dark-text: rgb(255, 255, 255);
	--dark-button: rgb(255, 255, 255);
	--dark-panel: rgb(28, 28, 30);
	--dark-border: rgb(0, 0, 0);

	--static-danger: rgb(255, 59, 48);
}

[data-theme='light'] {
	--background-color: var(--light-background);
	--text-color: var(--light-text);
	--button-color: var(--light-button);
	--panel-color: var(--light-panel);
	--border-color: var(--light-border);
}

[data-theme='dark'] {
	--background-color: var(--dark-background);
	--text-color: var(--dark-text);
	--button-color: var(--dark-button);
	--panel-color: var(--dark-panel);
	--border-color: var(--dark-border);
}

.dark-theme {
	--background: var(--dark-background);
	--text: var(--dark-text);
	--button: var(--dark-button);
	--panel: var(--dark-panel);
	--border: var(--dark-border);
}

.light-theme {
	--background: var(--light-background);
	--text: var(--light-text);
	--button: var(--light-button);
	--panel: var(--light-panel);
	--border: var(--light-border);
}
